html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.google-login-btn {
    display: inline-flex;
    align-items: center;
    background-color: #ffffff;
    color: #757575;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px 16px;
    width: 240px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

    .google-login-btn:hover {
        background-color: #f7f7f7;
    }

.google-logo {
    width: 18px;
    height: 18px;
    margin-right: 12px;
}

